// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack:  "Helvetica Neue Light", sans-serif;

$primary-color: blue;

.fruit {
  border: 1px solid black;
  font-family: $font-stack;
  color: $primary-color;
}